html, body {
  height: 100%;
}

body {
    /*background-color: #2C2F33; <- greift nicht*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;

    background-color: rgb(77, 81, 87);
}